
body {
    background-color: #fff;
    font-family: sans-serif;
  }
  
  header, nav {
    background-color: #fff;
    color: #000;
    padding: 1rem;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  
  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .nav-item {
    transition: all 0.2s;
  
  }

  .nav-item {
    font-family: "Roboto Serif", Palatino, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 300 ;
    font-style: italic;
  }
  
  .nav-item:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .top {
    color: rgb(219, 130, 64);
  }

  .border-t {
    border-top-width: 2px !important;
    border-color: rgb(140, 130, 115);
}

.border-b {
  border-bottom-width: 2px !important;
}

.nav2 {
  font-family: "Fjalla One", "Arial Narrow", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  font-weight: 900 !important;
  font-style: normal !important;
  font-size: 25px !important;
  line-height: 20px !important;
}

.nav2:hover {
  color: rgb(219, 130, 64);
  text-decoration: none;
}
  
  .secondary-menu {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  .secondary-menu span {
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  .secondary-menu .active {
    font-weight: bold;
   
  }
  
  .secondary-menu i {
    margin-left: 0.5rem;
    cursor: pointer;
  }
  
  .nav-item span:nth-child(4) {
    font-size: large;
  }
  
  
  .country {
    color: #000000; /* Replace with the color you want for the country text */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .timestamp {
    color: #32a5c5; /* Replace with the color you want for the timestamp text */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  h2 {
    align-self: left
    ;
    font-weight: bold;
  }
  
  p {
    font-weight: lighter;
  }
  
  img {
    align-self: center;
  }

  .bb {
    border-bottom: solid 1px #38817D;
    width: 50px !important;
  }

  .bb1 {
    border-bottom: solid 1px #38817D;
    width: 50px !important;
    margin-top: 5px;
  }

